torch==2.1.0
transformers==4.34.1
tokenizers==0.14.1
peft==0.5.0
accelerate==0.24.1
huggingface-hub==0.17.3
numpy==1.24.1
datasets==2.14.7
pyarrow==14.0.1
pyarrow-hotfix==0.6
fsspec==2023.10.0
dill==0.3.7
multiprocess==0.70.15
xxhash==3.4.1
tqdm==4.64.1
sentencepiece==0.1.99
safetensors==0.4.0
protobuf==4.23.4
packaging==23.2
wandb==0.16.1
